.MarkdownRender {
  line-height: 30px;
  word-break: keep-all;
  text-align: justify;

  p,
  li {
    code {
      font-size: 0.875rem;
      padding: 6px;
      margin: 0 2px;
      white-space: nowrap;
    }
  }
  li {
    margin-left: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5;
  }
  hr {
    margin-top: -0.5rem;
  }
  a {
    color: #696969;
    font-style: italic;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #696969;
    }
  }
}
