.AnotherPostWrap {
  display: flex;
  margin: 2rem 0;

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

@media all and (max-width: 768px) {
  .AnotherPostWrap {
    flex-direction: column-reverse;
  }
}
