.PostAuthor {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  .author-image {
    img {
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .author-desc {
    margin-left: 0.6rem;
    .author-name {
      font-size: 0.9rem;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .author-post-date-info {
      margin-top: -0.2rem;
      font-size: 0.7rem;
      .author-post-date {
        font-weight: 600;
        margin-right: 0.2rem;
      }
      .author-post-reading-time {
        color: #aaa;
        margin-left: 0.2rem;
      }
    }
  }
}
