.PostItem {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  .post-title {
    margin: 0.8rem 0;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #0984e3 !important;
      }
    }
  }

  .post-time-info {
    display: flex;
    margin: 0.5rem 0;

    .post-create-date {
      margin-right: 0.2rem;
      font-size: 0.9rem;
    }
    .post-reading-time {
      font-size: 0.8rem;
      color: #aaa;
      margin-left: 0.2rem;
    }
  }

  .post-desc {
    font-size: 0.9rem;
  }
}
