.PostTemplate {
  .post-head-title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 40pt;
  }

  .post-thumbnail {
    margin-bottom: 2rem;
    width: 100vw;
    margin-left: calc(-50vw + 49.1%);
    height: 30rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}
