.PostTemplate {
  .post-head-title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 40pt;
  }
}
