.PrevPost {
  flex: 1 1;
  padding-right: 1.5rem;

  div {
    font-size: 0.7rem;
  }

  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
}

@media all and (max-width: 768px) {
  .PrevPost {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
